.catalog-categories {
    display: flex;
    padding: 10px 0;
}

.catalog-categories-item {
    font-size: 17px;
    line-height: 1.18;
    display: inline-flex;
    align-items: center;
    padding: 0 14px;
    transition: background-color, .25s ease, color;
    cursor: pointer;
    flex-shrink: 0;
    position: relative;
    height: 44px;
    border-radius: 24px;
}

.catalog-categories-item:hover {
    background-color: #f4f4f4;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 1024px) {
    .base-grid-item {
        flex: 0 0 calc(25% - 18px);
        margin: 0 24px 20px 0;
    }
}


@media (min-width: 1024px) {
    .base-grid-item:nth-child(4n) {
        margin-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .base-grid-item {
        flex: 0 0 calc(33.33333% - 16px);
        margin: 0 24px 15px 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .base-grid-item:nth-child(3n) {
        margin-right: 0;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .base-grid-item {
        flex: 0 0 calc(50% - 8.5px);
        margin: 0 17px 15px 0;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .base-grid-item:nth-child(2n) {
        margin-right: 0;
    }
}

.catalog-card:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .14);
}

.catalog-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .07);
    transition: box-shadow .2s linear;
    border-radius: 12px;
}

.catalog-card__img {
    width: 100%;
    height: 239px;
    margin-bottom: 9px;
}



.catalog-card__title {
    width: 100%;
    min-height: 60px;
    text-align: center;
    font-size: 17px;
    line-height: 1.18;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog-card__size {
    font-size: 13px;
    line-height: 1;
    color: #000;
}

.catalog-card__price {
    font-weight: 700;
    font-size: 17px;
    line-height: 1.18;
}