
.nav-list {
    display: flex;
    list-style: none;

}

.nav-list__item {
    font-size: 17px;
}

.nav-list__item:not(:last-child) {
    margin-right: 25px;
}


@media (max-width: 1200px) {
    .nav-list__item {
        font-size: 15px;
    }
}


@media (max-width: 768px) {
    .nav-list__item {
        display: none;
    }
}

